.Input {
    width: 30%;
    padding: 4px;
    margin-right: 20px;
    border: 1px solid #333;
    border-radius: 4px;
    color: #333;
    outline: none;
    font-family: 'Times New Roman';
}
.Textarea {
    max-width: 70%;
    min-width: 70%;
    max-height: 70px;
    min-height: 70px;
    margin-top: 10px;
    padding: 4px;
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    font-family: 'Times New Roman';
}
.Button {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Times New Roman';
    background: #bbb;
    outline: none;
}




